<div class="w-full mx-auto">
    <!-- Name -->
    <div class="card">
        <h1>NDO SAMY STEPHAN</h1>
    </div>

    <!-- Goals -->
    <div class="card">
        <h1 class="text-xl font-bold">Goals</h1>
        <div>
            I am looking to increase my technical skills through training and
          training and practical projects in order to improve myself and
          and be operational for the benefit of the development of
          development of companies.
        </div>
    </div>

    <!-- Name -->
    <div class="card">
        <h1 class="text-xl font-bold">Professional Experience</h1>
        <ul class="flex flex-col gap-3 mt-2">
            <li>
                <div class="flex justify-between">
                      <span class="font-bold">Port Autonome de Douala</span>
                      <span>08/07/2018 - 08/10/2018</span>
                </div>
                <div>Academic Course</div>
            </li>
            <li>
                <div class="flex justify-between">
                      <span class="font-bold">Klapeers</span>
                      <span>03/02/2020 - 17/04/2020</span>
                </div>
                <div>Web Developer</div>
            </li>
            <li>
                <div class="flex justify-between">
                      <span class="font-bold">Beehive</span>
                      <span>14/08/2020 - Actually</span>
                </div>
                <div>Web Developer</div>
            </li>
        </ul>
    </div>

    <!-- Education -->
    <div class="card">
        <h1 class="text-xl font-bold">Education</h1>
        <ul class="flex flex-col gap-3 mt-2">
            <li>
                <div class="flex justify-between">
                      <span class="font-bold">Polytechnic School of Douala</span>
                      <span>2017-2018</span>
                </div>
                <div>Master's degree 2</div>
            </li>
            <li>
                <div class="flex justify-between">
                      <span class="font-bold">Polytechnic School of Douala</span>
                      <span>2017-2018</span>
                </div>
                <div>Master's degree 1</div>
            </li>
        </ul>
    </div>

    <!-- Education -->
    <div class="card">
        <h1 class="text-xl font-bold">Projects</h1>
        <ul class="flex flex-col gap-3 mt-2">
            <li>
                <div class="flex justify-between">
                      <span class="font-bold">Klapeers</span>
                </div>
                <div>Video audio call</div>
            </li>
            <li>
                <div class="flex justify-between">
                      <span class="font-bold">Kipers</span>
                </div>
                <div>e-learning platform</div>
            </li>
            <li>
                <div class="flex justify-between">
                      <span class="font-bold">Hellocity</span>
                </div>
                <div>e-commerce platform</div>
            </li>
        </ul>
    </div>
</div>